.thick-chart .chart-series-line {
    -fx-stroke-width: 1px;
    -fx-background-insets: 0,0;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
    -fx-shape: "";
    -fx-background-color: transparent;
}
.axis-label {

}

.chart-plot-background {
}

.chart-selection-rectangle {
    -fx-stroke: rgba(135, 206, 250, 0.8);
    -fx-stroke-type: inside;
    -fx-fill: rgba(135, 206, 250, 0.2);
}

.chart-series-line {
}

.chart-legend-item-symbol {
}

.chart-line-symbol {
}